*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(blueviolet, black);
}
.container{
  width: 90%;
  max-width: 450px;
}

h1{
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.75;
  text-align: center;
  line-height: 1.2;
}

.display-container{
  position: relative;
  background-color: black;
  border-radius: 1rem;
  border-bottom: 0.35rem solid rgb(203, 147, 238);
}

.display{
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 1.15rem 1rem;
  color: yellow;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 30px ;
  letter-spacing: 1px;
  padding-right: 3.25rem;
}

.display::placeholder{
  position: absolute;
  top: 50%;
  left:1.5rem;
  font-size: 1.5rem;
  line-height: 30px;
  color: yellow;
  opacity: 0.75;
  text-transform: uppercase;
  transform: translateY(-50%);
}

.display-container button{
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
}

.input-container{
  width:100%;
  background-color: black;
  border-radius: 1rem;
  padding: 2rem;
  border-bottom: 0.35rem solid rgb(203, 147, 238);
}
.length-container{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.length-container p:nth-child(1){
 color: white;
 font-size: 1.25rem;
 letter-spacing: 2px;

}
.length-container p:nth-child(2){
  color: yellow;
  font-size: 1.5rem;
  
 }

 .strength-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:1.75rem ;
  margin-bottom: 2rem;
 }

 .strength-container p{
  color: white;
  font-size: 1.5rem;
 }

 .indicator{
   width: 1.5rem;
   height: 1.5rem;
   border-radius: 50%;
 }

 .generateButton{
  width: 100%;
  padding:1rem 0 ;
  background-color: rgb(251, 27, 251);
  text-align: center;
  text-transform: uppercase;
  border-radius: 1.75rem;
  border-bottom:  0.35rem solid yellow;
  letter-spacing: 1px;
  color: yellow;
  font-weight: 600;
  font-size: 1.25rem;
 }

 .check{
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: 0 1rem;

 }

 .check input{
  appearance: none;  /*it removers defaulkt browser style*/
  width: 20px;
  height: 20px;
  border: 1px solid cyan;
  cursor: pointer;
  position: relative;
  border-radius: 0.35rem;
 }

 .check input:checked{
  background-color: cyan;
 } 

 .check input:checked::before{
  content: '✔';
  position: absolute;
  font-size: 1.05rem;
  color:black;
  font-weight: 900;
  left: 50%;
  top: -3.5px;
  transform: translateX(-50%) translateY(10%);
 }

 .check label{
  color: white;
  font-size: 1.25rem;
  letter-spacing: 1.75px;
 }

 .slider{
  appearance: none;
  width: 100%;
  height: 0.75rem;
  cursor: pointer;
  background-color: rgb(229, 32, 229);
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  border: none;
  outline: none;
 
 }

 .slider::-webkit-slider-thumb{
  appearance: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: yellow;
  cursor: pointer;
  margin-top: -3px;
  box-shadow: 0px 0px 20px 0px yellow;
  transition: all 100ms ease-in;
  position: relative;
 }

 .slider:focus{
  outline: 3px solid yellow;
 }

 .slider::-webkit-slider-thumb:hover{
  outline: 2px solid yellow;
  background-color:black;
  box-shadow: 0px 0px 25px 5px yellow;
 }

 .copyBtn{
  background-color: transparent;
  border: none;
  outline: none;
 }

 .msg{
   position: absolute;
   background-color: violet;
   color: yellow;
   font-size: 1.25rem;
   top: -35px;
   left: -25px;
   padding: 10px;
   border-radius: 1rem;
   opacity:0;
   transform: scale(0);
   transform-origin: bottom;
   transition: all 250ms ease-in-out;
 }

 .active{
  opacity: 1;
  transform: scale(1);
 }


