.productDate{
    background-color: black ;
    color: white;
    font-size: 14px;
    width: 5rem;
    border-radius: 5px;
}
.date{
    font-size: 28px;
    margin: 0px 0px;
    text-align: center;
    font-weight: 700;
}
.month{
    margin: 0px 0px;
    text-align: center;
    font-weight: 600;
}
.year{
    margin: 0px 0px;
    text-align: center;
}